---
import HomeBase from "../../layouts/HomeBase.astro";
import SiteFooter from "../../components/sections/SiteFooter.astro";
import SiteHeader from "../../components/sections/SiteHeader.astro";
import WaysToSupportContent from "../../components/sections/WaysToSupportContent.astro";
import home from "../../content/home.json";

const description =
  "You can give monthly, give once, refer someone, or bring your business in. All of it ends in the same place: someone's next visit happens.";
---

<HomeBase title="Ways to Support" description={description}>
  <div class="site">
    <SiteHeader current="ways-to-support" />

    <WaysToSupportContent />

    <SiteFooter footer={home.footer} homeHrefPrefix="/" />
  </div>
</HomeBase>
