---
import HomeBase from "../../layouts/HomeBase.astro";
import SiteFooter from "../../components/sections/SiteFooter.astro";
import SiteHeader from "../../components/sections/SiteHeader.astro";
import WaysToSupportContent from "../../components/sections/WaysToSupportContent.astro";
import home from "../../content/home.json";

const description =
  "Give monthly or give once. Either way, the next visit happens.";
---

<HomeBase title="How to Help" description={description}>
  <div class="site">
    <SiteHeader current="ways-to-support" />

    <WaysToSupportContent />

    <SiteFooter footer={home.footer} homeHrefPrefix="/" />
  </div>
</HomeBase>
